@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background-color: rgb(var(--background-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .wrapper {
    width: clamp(350px, 90vw, 2248px);
    margin-inline: auto;
  }
  .hero-text {
    @apply text-[40px] w-[227px] leading-4 md:text-[64px] md:w-[365px];
    /* font-size: clamp(2.5rem, 5vw, 5.5rem); */
    line-height: 1;
    /* width: clamp(220px, 26vw, 480px); */
    top: clamp(40px, 6rem, 100px);
  }
  .triangle-right {
    width: 0;
    height: 0;
    border-top: 20px solid transparent; /* Adjust size as needed */
    border-bottom: 20px solid transparent; /* Adjust size as needed */
    border-left: 20px solid black; /* Adjust size and color as needed */
  }
}
